{% load static %}
{% block content %}
  <div id="customModal" class="custom-modal">
    <div class="custom-modal-header">
      <button class="close-btn" id="closeModalBtn"></button>
      <h5>Create Subject</h5>
    </div>
    <div class="custom-modal-body">
      <form method="post" enctype="multipart/form-data" action="{% url 'createSubject' %}" id="subjectForm">
        {% csrf_token %}

        <!-- Subject Name -->
        <div class="form-group">
          {{ form.subject_name.label_tag }}
          {{ form.subject_name }}
          <span class="error-message" id="subjectNameError"></span>
        </div>

        <!-- Subject Short Name -->
        <div class="form-group">
          {{ form.subject_short_name.label_tag }}
          {{ form.subject_short_name }}
          <span class="error-message" id="subjectShortNameError"></span>
        </div>

        <!-- Custom File Input for Subject Photo -->
        <div class="form-group">
          {{ form.subject_photo.label_tag }}
          <div class="custom-file">
            {{ form.subject_photo }}
            <label class="custom-file-label" for="customFile">Choose file</label>
          </div>
        </div>

        <!-- Assign Teacher -->
        <div class="form-group">{{ form.assign_teacher.label_tag }}
          {{ form.assign_teacher }}</div>

         <!-- Subject Description -->
         <div class="form-group">
          {{ form.subject_description.label_tag }}
          {{ form.subject_description }}
        </div>

        <!-- Subject Code -->
        <div class="form-group">
          {{ form.subject_code.label_tag }}
          {{ form.subject_code }}
        </div>

        <!-- Schedule Start Time -->
        <div class="form-group">
          {{ form.schedule_start_time.label_tag }}
          {{ form.schedule_start_time }}
        </div>

        <!-- Schedule End Time -->
        <div class="form-group">
          {{ form.schedule_end_time.label_tag }}
          {{ form.schedule_end_time }}
        </div>

        <!-- Submit Button -->
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>

  <!-- Custom Modal Backdrop -->
  <div id="customModalBackdrop" class="custom-modal-backdrop"></div>
{% endblock %}
