{% extends 'base.html' %}
{% load static %}
{% block title %}
  GradeBook 
{% endblock %}
{% block content %}
  <h1 class="h3 mb-2 text-gray-800">GradeBook</h1>

  <!-- DataTales Example -->
  <div class="card shadow mb-4">
    <div class="card-header py-3">
        <a href="{% url 'createTermGradeBookComponent' %}" class="btn btn-primary" id="openModalBtn">Add Termbook</a>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered table-striped" id="dataTable" width="100%" cellspacing="0">
          <thead>
            <tr>
              <th>Subject Name</th>
              <th>Percentage</th>
              <th>Term</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            {% for termbook in termbook %}
            <tr>
              <td>
                {% if termbook.subjects.exists %}
                {% for subject in termbook.subjects.all|slice:":3" %}
                    {{ subject.subject_name }}{% if not forloop.last %}, {% endif %}
                {% endfor %}
                {% if termbook.subjects.count > 3 %}
                    and {{ termbook.subjects.count|add:"-3" }} more...
                {% endif %}
                {% else %}
                    No subjects assigned.
                {% endif %}
              </td>
              <td>{{ termbook.percentage }}</td>
              <td>{{ termbook.term.term_name }}</td>
              <td>
                <div class="dropdown">
                  <button class="btn btn-white btn-sm no-caret" type="button" id="dropdownMenuButton{{ termbook.id }}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-ellipsis-v"></i>
                  </button>
                  <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton{{ termbook.id }}">
                    <a class="dropdown-item" href="{% url 'viewTermBookComponent' termbook.id %}"><i class="fas fa-eye"></i> View</a> 
                    <a class="dropdown-item" href="{% url 'updateTermBookComponent' termbook.id %}"><i class="fas fa-edit"></i> Update</a> 
                    <form method="post" action="{% url 'deleteTermBookComponent' termbook.id %}">
                        {% csrf_token %}
                        <button type="submit" class="dropdown-item" onclick="return confirm('Are you sure you want to delete this Gradebook?');"><i class="fas fa-trash"></i> Delete</button>
                      </form>
                  </div>
                </div>
              </td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
{% endblock %}
