<form method="post" action="{% url 'createModule' subject.id %}" enctype="multipart/form-data">
  {% csrf_token %}

  <!-- File name input -->
  <div class="form-group">
    <label for="file_name">Name:</label>
    {{ form.file_name }}
  </div>

  <div class="form-group" id="fileInputDiv">
    <label for="customFile">File:</label>
    <div class="custom-file">
      <input type="file" class="custom-file-input" id="customFile" name="file" />
      <label class="custom-file-label" for="customFile">Choose file</label>
      <small class="form-text text-muted">Allowed file types: PDF, JPG, JPEG, PNG, MP4, AVI, MOV, WMV (Max size: 25MB)</small>
      <div class="invalid-feedback" id="file-error" style="display: none;"></div>
    </div>
  </div>


  <!-- URL input -->
  <div class="form-group" id="urlInputDiv">
    <label for="url">Url:</label>
    {{ form.url }}
  </div>

  <!-- Term input -->
  <div class="form-group">
    <label for="term">Term:</label>
    {{ form.term }}
  </div>

  <!-- Select multiple users -->
  <div class="form-group">
    <label for="display_lesson_for_selected_users">Display lesson for selected users:</label>
    {{ form.display_lesson_for_selected_users }}
  </div>

  <!-- Select start_date -->
  <div class="form-group">
    <label for="start_date">Start Date:</label>
    {{ form.start_date }}
  </div>

  <!-- Select end_date -->
  <div class="form-group">
    <label for="end_date">End Date:</label>
    {{ form.end_date }}
  </div>

  <!-- Select end_date -->
  <div class="form-group">
    <label for="description">Description:</label>
    {{ form.description }}
  </div>

  <!-- Checkbox field -->
  <div class="form-check">
    {{ form.allow_download }}
    <label for="allow_download" class="form-check-label">Allow download:</label>
  </div>

  <!-- Submit button -->
  <button type="submit" class="btn btn-primary mt-3">Save</button>
</form>
