{% extends 'base.html' %}
{% load static %}
{% block title %}
  Update Lesson
{% endblock %}
{% block content %}
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">Update Lesson</h1>
          </div>
          <div class="col-sm-6">
          </div>
        </div>
      </div>
    </div>

    <!-- Main Content -->
    <section class="content">
      <div class="container-fluid">
        <form method="post" action="{% url 'updateModule' module.id %}" enctype="multipart/form-data">
          {% csrf_token %}

          <!-- File name input -->
          <div class="form-group">
            <label for="file_name">File name:</label>
            {{ form.file_name }}
          </div>

          <!-- Custom file input for file -->
          <div class="form-group">
            <label for="file_name">File:</label>
            {{ form.file }}
          </div>

          <!-- URL input -->
          <div class="form-group">
            <label for="url">Url:</label>
            {{ form.url }}
          </div>

          <!-- Term input -->
          <div class="form-group">
            <label for="term">Term:</label>
            {{ form.term }}
          </div>

          <!-- Select multiple users -->
          <div class="form-group">
            <label for="display_lesson_for_selected_users">Display lesson for selected users:</label>
            {{ form.display_lesson_for_selected_users }}
          </div>

          <!-- Select start_date -->
          <div class="form-group">
            <label for="start_date">Start Date:</label>
            {{ form.start_date }}
          </div>

          <!-- Select end_date -->
          <div class="form-group">
            <label for="end_date">End Date:</label>
            {{ form.end_date }}
          </div>

          <!-- Select description -->
          <div class="form-group">
            <label for="description">Description:</label>
            {{ form.description }}
          </div>

          <!-- Checkbox field for allow download -->
          <div class="form-check">
            {{ form.allow_download }}
            <label for="allow_download" class="form-check-label">Allow download:</label>
          </div>

          <!-- Submit and back buttons -->
          <button type="submit" class="btn btn-primary mt-3">Save</button>
          <a href="javascript:history.back()" class="btn btn-secondary mt-3">Back</a>
        </form>
      </div>
    </section>
  </div>
  <br />
{% endblock %}
