{% extends 'base.html' %}

{% block title %}
  View {{ module.file_name }}
{% endblock %}

{% block content %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.10.377/pdf.min.js"></script>
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">View Lesson</h1>
          </div>
          <div class="col-sm-6">
          </div>
        </div>
      </div>
    </div>

    <!-- Main Content -->
    <section class="content">
      <div class="container-fluid">
        <h1>{{ module.file_name }}</h1>

        {% if is_pdf and module.file %}
          <div id="pdf-container" style="min-height: 500px; position: relative;">
            <canvas id="pdf-canvas" style="width: 100%;"></canvas>

            <!-- Fullscreen Button -->
            <button id="fullscreen-btn" class="btn btn-secondary" style="position: absolute; top: 10px; right: 10px;"><i class="fas fa-expand"></i></button>

            <!-- Previous Button -->
            <button id="prev-page" class="btn btn-secondary" style="position: absolute; bottom: 20px; left: 20px;"><i class="fas fa-caret-left"></i></button>

            <!-- Next Button -->
            <button id="next-page" class="btn btn-secondary" style="position: absolute; bottom: 20px; right: 20px;"><i class="fas fa-caret-right"></i></button>

            <!-- Page Info -->
            <div class="page-info" style="position: absolute; bottom: 20px; left: 50%; transform: translateX(-50%); color: white;">
              Page: <span id="page-num"></span> / <span id="page-count"></span>
            </div>
          </div>
        {% endif %}

        {% if is_image and module.file %}
          <div>
            <img src="{{ module.file.url }}" class="img-fluid" alt="Image" style="width: 100%;" />
          </div>
        {% endif %}

        {% if is_video and module.file %}
          <div>
            <video controls style="width: 100%;">
              <source src="{{ module.file.url }}" type="video/mp4" />Your browser does not support the video tag.
            </video>
          </div>
        {% endif %}
        
        {% if is_video_url %}
          <div>
            <video controls style="width: 100%;">
              <source src="{{ module.url }}" type="video/mp4">
              Your browser does not support the video tag.
            </video>
          </div>
        {% elif is_youtube %}
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="{{ embed_url }}" allowfullscreen></iframe>
          </div>
        {% elif is_vimeo %}
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="{{ embed_url }}" allowfullscreen></iframe>
          </div>
        {% elif is_url %}
          <div>
            <a href="{{ module.url }}" target="_blank" class="btn btn-primary">Open {{ module.file_name }}</a>
          </div>
        {% endif %}
        
        {% if is_unknown %}
          <p>Unsupported file format. Unable to display the content.</p>
        {% endif %}

        <div class="text-right mt-3">
          <a href="{% url 'subjectDetail' module.subject.id %}" class="btn btn-secondary">Back</a>
        </div>
      </div>
    </section>
  </div>
  <br />

  {% if is_pdf and module.file %}
  <script>
    document.addEventListener('DOMContentLoaded', function () {
      var url = '{{ module.file.url }}';
      var pdfDoc = null;
      var pageNum = {{ last_page }};
      var canvas = document.getElementById('pdf-canvas');
      var ctx = canvas.getContext('2d');
      var fullscreenBtn = document.getElementById('fullscreen-btn');
      var pdfContainer = document.getElementById('pdf-container');

      // Track when the student starts interacting with the module
      function startModule() {
        fetch("{% url 'start_module_session' %}", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
            "X-CSRFToken": "{{ csrf_token }}"
          },
        }).then(response => response.json())
          .then(data => {
            console.log(data.status);
          });
      }

      // Track when the student stops interacting with the module
      window.addEventListener('beforeunload', function() {
        fetch("{% url 'stop_module_session' %}", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
            "X-CSRFToken": "{{ csrf_token }}"
          },
        }).then(response => response.json())
          .then(data => {
            console.log(data.status);
          });
      });

      // Start the module session when the page loads
      startModule();

      function renderPage(num) {
          pdfDoc.getPage(num).then(function (page) {
              var viewport = page.getViewport({ scale: 1.5 });
              canvas.height = viewport.height;
              canvas.width = viewport.width;

              var renderContext = {
                  canvasContext: ctx,
                  viewport: viewport
              };

              var renderTask = page.render(renderContext);
              renderTask.promise.then(function () {
                  document.getElementById('page-num').textContent = num;
                  updateProgress(num, pdfDoc.numPages);  // Update progress when page is rendered
              });
          });
      }

      pdfjsLib.getDocument(url).promise.then(function (pdfDoc_) {
          pdfDoc = pdfDoc_;
          document.getElementById('page-count').textContent = pdfDoc.numPages;
          renderPage(pageNum);
      });

      document.getElementById('prev-page').addEventListener('click', function () {
          if (pageNum <= 1) {
              return;
          }
          pageNum--;
          renderPage(pageNum);
      });

      document.getElementById('next-page').addEventListener('click', function () {
          if (pageNum >= pdfDoc.numPages) {
              return;
          }
          pageNum++;
          renderPage(pageNum);
      });

      // Fullscreen functionality
      fullscreenBtn.addEventListener('click', function () {
          if (!document.fullscreenElement) {
              if (pdfContainer.requestFullscreen) {
                  pdfContainer.requestFullscreen();
              } else if (pdfContainer.mozRequestFullScreen) { /* Firefox */
                  pdfContainer.mozRequestFullScreen();
              } else if (pdfContainer.webkitRequestFullscreen) { /* Chrome, Safari & Opera */
                  pdfContainer.webkitRequestFullscreen();
              } else if (pdfContainer.msRequestFullscreen) { /* IE/Edge */
                  pdfContainer.msRequestFullscreen();
              }
              fullscreenBtn.innerHTML = '<i class="fas fa-compress"></i>';
          } else {
              if (document.exitFullscreen) {
                  document.exitFullscreen();
              } else if (document.mozCancelFullScreen) { /* Firefox */
                  document.mozCancelFullScreen();
              } else if (document.webkitExitFullscreen) { /* Chrome, Safari and Opera */
                  document.webkitExitFullscreen();
              } else if (document.msExitFullscreen) { /* IE/Edge */
                  document.msExitFullscreen();
              }
              fullscreenBtn.innerHTML = '<i class="fas fa-expand"></i>';
          }
      });

      // Function to send progress updates to the server
      function updateProgress(currentPage, totalPages) {
          var progress = (currentPage / totalPages) * 100;

          fetch("{% url 'module_progress' %}", {
              method: "POST",
              headers: {
                  "Content-Type": "application/json",
                  "X-CSRFToken": "{{ csrf_token }}"
              },
              body: JSON.stringify({
                  "module_id": "{{ module.id }}",
                  "progress": progress,
                  "last_page": currentPage  // Send the current page as last_page
              })
          })
          .then(response => response.json())
          .then(data => {
              console.log("Progress updated successfully:", data);
          })
          .catch(error => {
              console.error("Error updating progress:", error);
          });
      }
    });
  </script>
  {% endif %}
{% endblock %}
