{% extends 'base.html' %}
{% block title %}Enroll Student in Activity{% endblock %}
{% block content %}
  <h1>Enroll Student in Activity</h1>
  <form method="post" action="{% url 'enroll_student_activity' %}">
    {% csrf_token %}
    <div>
      <label for="student_profile">Select Student:</label>
      <select name="student_profile" id="student_profile">
        {% for profile in profiles %}
          <option value="{{ profile.id }}">{{ profile.user.email }}</option>
        {% endfor %}
      </select>
    </div>
    <div>
      <label for="activity">Select Activity:</label>
      <select name="activity_id" id="activity">
        {% for activity in activities %}
          <option value="{{ activity.id }}">{{ activity.activity_name }}</option>
        {% endfor %}
      </select>
    </div>
    <button type="submit">Enroll</button>
  </form>
{% endblock %}
