.custom-sidebar {
  background-color: #2A2F42; /* Sidebar background color */
  width: 300px !important; /* Compact sidebar width */
}

.custom-sidebar .nav-link {
  color: #C1C2D7; /* Text color */
  font-weight: 700;
  padding: 10px 15px !important; /* Consistent padding */
  border-radius: 8px; /* Consistent border-radius */
}


.custom-sidebar .sidebar-divider {
  border-color: #C1C2D7; /* Divider color */
}

.custom-sidebar .sidebar-brand-text {
  color: #FFFFFF; /* Brand text color */
  font-weight: bolder;
}

@keyframes shine {
  0% {
    background-position: -300px 0;
  }
  100% {
    background-position: 300px 0;
  }
}

.custom-sidebar .nav-item.active .nav-link {
  color: #C1C2D7; /* Active link text color */
  background-color: #50648D; /* Active link background color */
  border-radius: 8px;
  position: relative;
  overflow: hidden;
  padding: 6px 15px; /* Consistent padding */
  align-items: center;
}

.custom-sidebar .nav-link i {
  font-size: 1.4rem !important; /* Slightly reduced icon size for compact look */
  margin-right: 8px !important; /* Space between icon and text */
  margin-left: 8px !important; /* Space between icon and text */
  transition: transform 0.3s ease-in-out; /* Animation for icon hover */
  color: #C1C2D7; /* Light text color for contrast */
}

.custom-sidebar .nav-item .nav-link {
  width: 100%; /* Ensure the link covers the full width */
}

.custom-sidebar .nav-item.active .nav-link::before {
  content: '';
  position: absolute;
  top: 0;
  left: -300px;
  width: 600px; /* Increased width to cover the entire link */
  height: 100%;
  background: linear-gradient(120deg, transparent, rgba(255, 255, 255, 0.3), transparent);
  animation: shine 3s infinite linear;
}

.custom-sidebar .nav-item.active .nav-link span {
  position: relative; /* Ensure text is above the animation */
  z-index: 2;
  font-size: 0.85rem !important; /* Slightly smaller font size for compact layout */
}

.bg-login-image {
  background: url("https://images.pexels.com/photos/4260477/pexels-photo-4260477.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-position: center;
  background-size: cover;
}

.bg-login {
  background-color: #171F29; /* Matching the sidebar color */
}
