{% extends 'base.html' %}
{% load static %}
{% block title %}
  Dashboard
{% endblock %}
{% block content %}
  <!-- Page Heading -->
  <h1 class="h3 mb-4 text-gray-800">Dashboard</h1>

  <!-- Content Row -->
  <div class="row">
    <!-- Number of Active Students (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-primary shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Number of Online Students</div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">{{ active_users_count }}</div>
            </div>
            <div class="col-auto">
              <i class="fas fa-user-check fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Courses Completed (Annual) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-success shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Subjects in Current Semester</div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">{{ subject_count }}</div>
            </div>
            <div class="col-auto">
              <i class="fas fa-book fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Assignments Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-info shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Assignments Overview</div>
              <div class="row no-gutters align-items-center">
                <div class="col-auto">
                  <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">75%</div>
                </div>
                <div class="col">
                  <div class="progress progress-sm mr-2">
                    <div class="progress-bar bg-info" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-auto">
              <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Pending Requests Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-warning shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Pending Requests</div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">18</div>
            </div>
            <div class="col-auto">
              <i class="fas fa-comments fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xl-8 col-lg-7">
      <div class="card shadow mb-4" style="overflow: hidden;">
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
          <h6 class="m-0 font-weight-bold text-primary">Campus News</h6>
        </div>
        <div class="card-body p-0">
          <div id="newsCarousel" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              {% for article in articles %}
                <div class="carousel-item {% if forloop.first %}active{% endif %}">
                  <a href="{{ article.permalink_url }}" target="_blank" style="text-decoration: none; color: inherit;">
                    <div class="row no-gutters">
                      <div class="col-md-12 position-relative">
                        {% if article.image_url %}
                          <img src="{{ article.image_url }}" class="d-block w-100" alt="Post Image" style="height: 380px; object-fit: cover; opacity: 0.9; box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);" />
                        {% else %}
                          <img src="{% static 'images/gsu_logo.png' %}" class="d-block w-100" alt="Default Image" style="height: 380px; object-fit: cover; opacity: 0.9; box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);" />
                        {% endif %}

                        <!-- Gradient overlay -->
                        <div style="position: absolute; bottom: 0; width: 100%; height: 220px; background: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));"></div>

                        <!-- Caption adjusted for responsiveness -->
                        <div class="carousel-caption d-block text-white p-3" style="border-radius: 0 0 10px 10px;">
                          <div class="d-flex align-items-center mb-2">
                            {% if article.profile_picture_url %}
                              <img src="{{ article.profile_picture_url }}" alt="Profile Picture" class="img-fluid" style="width: 30px; height: 30px; border-radius: 50%; margin-right: 10px;" />
                            {% endif %}
                            <div>
                              <small class="font-weight-bold" style="text-shadow: 2px 2px 4px rgba(0, 0, 0, 1.9);">{{ article.posted_by }}</small>
                              <small class="text-muted d-none d-sm-inline">&bull; {{ article.created_time }}</small> <!-- Hidden on extra small screens -->
                            </div>
                          </div>
                          <h4 class="font-weight-bold" style="font-size: 1.2rem; text-shadow: 2px 2px 4px rgba(0, 0, 0, 1.9);">{{ article.message }}</h4>
                        </div>
                      </div>
                    </div>
                  </a>
                </div>
              {% endfor %}
            </div>
            <a class="carousel-control-prev" href="#newsCarousel" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#newsCarousel" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
            <ol class="carousel-indicators">
              {% for i in articles %}
                <li data-target="#newsCarousel" data-slide-to="{{ forloop.counter0 }}" class="{% if forloop.first %}active{% endif %}"></li>
              {% endfor %}
            </ol>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-4 col-lg-5">
      <div class="card shadow mb-4">
        <!-- Card Header - Dropdown -->
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
          <h6 class="m-0 font-weight-bold text-primary">Enrolled Student by Subject</h6>
          <div class="dropdown no-arrow">
            <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i></a>
            <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
              <div class="dropdown-header">Dropdown Header:</div>
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </div>
        </div>
        <!-- Card Body -->
        <div class="card-body">
          <div class="chart-pie pt-4 pb-2">
            <canvas id="myPieChart"></canvas>
          </div>
          <div class="mt-4 text-center small">
            {% for subject in student_counts %}
              <span class="mr-2"><i class="fas fa-circle text-primary"></i> {{ subject.subject__subject_name }}</span>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Content Row -->
  <div class="row">
    <!-- Content Column -->
    <div class="col-lg-6 mb-4">
      <!-- Projects Card Example -->
      <div class="card shadow mb-4">
        <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary">Learning Projects</h6>
        </div>
        <div class="card-body" style="height: 350px;">
          <h4 class="small font-weight-bold">Course Development <span class="float-right">20%</span></h4>
          <div class="progress mb-4">
            <div class="progress-bar bg-danger" role="progressbar" style="width: 20%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
          <h4 class="small font-weight-bold">Content Creation <span class="float-right">40%</span></h4>
          <div class="progress mb-4">
            <div class="progress-bar bg-warning" role="progressbar" style="width: 40%" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
          <h4 class="small font-weight-bold">Student Enrollment <span class="float-right">60%</span></h4>
          <div class="progress mb-4">
            <div class="progress-bar bg-info" role="progressbar" style="width: 60%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
          <h4 class="small font-weight-bold">Assessment Development <span class="float-right">80%</span></h4>
          <div class="progress mb-4">
            <div class="progress-bar bg-success" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
          <h4 class="small font-weight-bold">System Setup <span class="float-right">Complete!</span></h4>
          <div class="progress">
            <div class="progress-bar bg-primary" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
      </div>
    </div>

    <!-- Bar Chart -->
    <div class="col-lg-6 mb-4">
      <div class="card shadow mb-4">
        <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary">Active Students in the Last 7 Days</h6>
        </div>
        <div class="card-body" style="height: 350px;">
          <div class="chart-bar">
            <canvas id="activeStudentsChart"></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script>
    const ctxDoughnut = document.getElementById('myPieChart').getContext('2d');
    const myDoughnutChart = new Chart(ctxDoughnut, {
        type: 'doughnut',
        data: {
            labels: [
                {% for subject in student_counts %}
                    "{{ subject.subject__subject_name }}",
                {% endfor %}
            ],
            datasets: [{
                data: [
                    {% for subject in student_counts %}
                        {{ subject.student_count }},
                    {% endfor %}
                ],
                backgroundColor: [
                    'rgba(78, 115, 223, 0.5)',
                    'rgba(28, 200, 138, 0.5)',
                    'rgba(54, 185, 204, 0.5)',
                    // Add more colors as needed
                ],
                hoverBackgroundColor: [
                    'rgba(78, 115, 223, 1)',
                    'rgba(28, 200, 138, 1)',
                    'rgba(54, 185, 204, 1)',
                    // Add more colors as needed
                ],
                hoverBorderColor: "rgba(234, 236, 244, 1)",
            }]
        },
        options: {
            maintainAspectRatio: false,
            tooltips: {
                backgroundColor: "rgb(255,255,255)",
                bodyFontColor: "#858796",
                borderColor: '#dddfeb',
                borderWidth: 1,
                xPadding: 15,
                yPadding: 15,
                displayColors: false,
                caretPadding: 10,
            },
            legend: {
                display: false
            },
            cutoutPercentage: 80,
        },
    });
  </script>

  <script>
    const ctx = document.getElementById('activeStudentsChart').getContext('2d');
    const activeStudentsChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: [
                {% for day in active_users_per_day %}
                    "{{ day.date|date:'M d' }}",
                {% endfor %}
            ],
            datasets: [{
                label: 'Active Students',
                data: [
                    {% for day in active_users_per_day %}
                        {{ day.count }},
                    {% endfor %}
                ],
                backgroundColor: 'rgba(78, 115, 223, 0.5)',
                borderColor: 'rgba(78, 115, 223, 1)',
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            },
            maintainAspectRatio: false,
        }
    });
  </script>
{% endblock %}
