{% load static %}
{% load permissions %}

<!-- Main Sidebar Container -->
<aside class="main-sidebar custom-sidebar elevation-4 sidebar-no-expand sidebar-light-success">
    <!-- Brand Logo -->
    <a href="{% url 'dashboard' %}" class="brand-link" style="display: flex; align-items: center;">
      <img src="{% static 'assets/dist/images/gsu_logo.png' %}" alt="GUIMARAS STATE UNIVERSITY Logo" class="img-circle elevation-3" style="height: 60px; width: 60px; margin-right: 10px;" />
      <span class="brand-text font-weight-bold" style="font-size: 21px; line-height: 1; text-align: center;">
          GUIMARAS STATE <br />
          <span style="font-size: 18px; font-weight: bold;">UNIVERSITY</span>
      </span>
    </a>
  <!-- Sidebar -->
  <div class="sidebar mt-2">
  
    <div class="form-inline">
      <div class="input-group" data-widget="sidebar-search">
        <input class="form-control form-control-sidebar form-control-sidebar-light bg-light btn-outline-success" type="search" placeholder="Search" aria-label="Search" />
        <div class="input-group-append">
          <button class="btn btn-sidebar bg-success"><i class="bx bx-search"></i></button>
        </div>
      </div>
    </div>

    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <!-- Dashboard -->
        <li class="nav-item">
          <a href="{% url 'dashboard' %}" class="nav-link d-flex align-items-center">
            <i class="bx bx-home nav-icon mr-2"></i>
            <p>Dashboard</p>
          </a>
        </li>

        {% if not user.is_superuser and not user.is_staff %}
        {% if not user.profile.role.name|lower == 'registrar' %}
        <!-- Calendar -->
        <li class="nav-item">
          <a href="{% url 'calendars' %}" class="nav-link d-flex align-items-center">
            <i class="bx bx-calendar nav-icon mr-2"></i>
            <p>Calendar</p>
          </a>
        </li>
        {% endif %}
        {% endif %}

        {% if not user.is_superuser and not user.is_staff %}
        <!-- Messages (Permission check) -->
        {% if user|has_perm:'message.view_message' %}
          <li class="nav-item">
            <a href="{% url 'inbox' %}" class="nav-link d-flex align-items-center">
              <i class="bx bx-chat nav-icon mr-2"></i>
              <p>Messages</p>
              {% if unread_messages_count > 0 %}
                <span class="badge badge-danger">{{ unread_messages_count }}</span>
              {% endif %}
            </a>
          </li>
       
        {% endif %}

        {% if not user.is_superuser and not user.is_staff %}
        <!-- Teaching Section -->
        <li class="nav-item">
          <a href="#" class="nav-link d-flex align-items-center">
            <i class="bx bx-book-open nav-icon mr-2"></i>
            {% if user.profile.role.name|lower == 'teacher' or user.profile.role.name|lower == 'registrar' %}
            <p>
              Teaching <i class="bx bx-chevron-down right"></i> 
            </p>
            {% endif %}
            {% if user.profile.role.name|lower == 'student' %}
            <p>
              Learning <i class="bx bx-chevron-down right"></i> 
            </p>
            {% endif %}
          </a>
        {% endif %}
        
          <ul class="nav nav-treeview">
            {% if user|has_perm:'subject.view_subject' %}
              {% if not user.profile.role.name|lower == 'registrar' %}
                <li class="nav-item">
                  <a href="{% url 'SubjectList' %}" class="nav-link d-flex align-items-center">
                    <i class="bx bx-circle nav-icon mr-2"></i>
                    <p>Subjects</p>
                  </a>
                </li>
              {% endif %}
            {% endif %}

            {% if user|has_perm:'gradebookcomponent.view_gradebookcomponents' %}
              <li class="nav-item">
                <a href="{% url 'studentTotalScoreForActivity' %}" class="nav-link d-flex align-items-center">
                  <i class="bx bx-circle nav-icon mr-2"></i>
                  <p>Grades</p>
                </a>
              </li>
            {% endif %}
            
            {% if user|has_perm:'subject.view_subject' %}
              {% if not user.profile.role.name|lower == 'student' %}
                <li class="nav-item">
                  <a href="{% url 'subject' %}" class="nav-link d-flex align-items-center">
                    <i class="bx bx-circle nav-icon mr-2"></i>
                    <p>Subject List</p>
                  </a>
                </li>
              {% endif %}
            {% endif %}

            {% if user|has_perm:'studentprogress.view_studentprogress' %}
              {% if not user.profile.role.name|lower == 'registrar' %}
                {% if not user.profile.role.name|lower == 'student' %}
                  <li class="nav-item">
                    <a href="{% url 'progressList' %}" class="nav-link d-flex align-items-center">
                      <i class="bx bx-circle nav-icon mr-2"></i>
                      <p>Activity Progress</p>
                    </a>
                  </li>
                {% endif %}
              {% endif %}
            {% endif %}
          </ul>
        </li>
        {% endif %}

        {% if user|has_perm:'course.view_subjectenrollment' %}
          {% if not user.is_superuser and not user.is_staff %}
            <li class="nav-item">
              <a href="{% url 'subjectEnrollmentList' %}" class="nav-link d-flex align-items-center">
                <i class="bx bx-user-plus nav-icon mr-2"></i>
                <p>Enroll Students</p>
              </a>
            </li>
          {% endif %}
        {% endif %}

        <!-- Settings Section -->
        {% if not user.profile.role.name|lower == 'student' %}
        <li class="nav-item">
          <a href="#" class="nav-link d-flex align-items-center">
            <i class="bx bx-cog nav-icon mr-2"></i>
            <p>
              Settings <i class="bx bx-chevron-down right"></i>
            </p>
          </a>

          <ul class="nav nav-treeview">
            {% if user|has_perm:'roles.view_role' %}
              <li class="nav-item">
                <a href="{% url 'roleList' %}" class="nav-link d-flex align-items-center">
                  <i class="bx bx-circle nav-icon mr-2"></i>
                  <p>Role</p>
                </a>
              </li>
            {% endif %}

            {% if user|has_perm:'activity.view_activitytype' %}
              {% if not user.is_superuser and not user.is_staff %}
                <li class="nav-item">
                  <a href="{% url 'activityTypeList' %}" class="nav-link d-flex align-items-center">
                    <i class="bx bx-circle nav-icon mr-2"></i>
                    <p>Activity Type</p>
                  </a>
                </li>
              {% endif %}
            {% endif %}

            {% if user|has_perm:'course.view_semester' %}
              {% if not user.is_superuser and not user.is_staff %}
                <li class="nav-item">
                  <a href="{% url 'semesterList' %}" class="nav-link d-flex align-items-center">
                    <i class="bx bx-circle nav-icon mr-2"></i>
                    <p>Semester</p>
                  </a>
                </li>
              {% endif %}
            {% endif %}

            {% if user|has_perm:'gradebookcomponent.view_gradebookcomponents' %}
              {% if not user.is_superuser and not user.is_staff %}
                {% if user.profile.role.name|lower == 'teacher' %}
                  <li class="nav-item">
                    <a href="{% url 'viewGradeBookComponents' %}" class="nav-link d-flex align-items-center">
                      <i class="bx bx-circle nav-icon mr-2"></i>
                      <p>Subject Percentage</p>
                    </a>
                  </li>
                {% endif %}
              {% endif %}
            {% endif %}


            
            {% if user.profile.role.name|lower == 'teacher' %}
              {% if user|has_perm:'gradebookcomponent.view_subgradebook' %}
                {% if not user.is_superuser and not user.is_staff %}
                  <li class="nav-item">
                    <a href="{% url 'subGradebook' %}" class="nav-link d-flex align-items-center">
                      <i class="bx bx-circle nav-icon mr-2"></i>
                      <p>Subject Sub Percentage</p>
                    </a>
                  </li>
                {% endif %}
              {% endif %}
            {% endif %}

            {% if not user.is_superuser and not user.is_staff %}
            {% if user|has_perm:'course.view_term' %}
              <li class="nav-item">
                <a href="{% url 'termList' %}" class="nav-link d-flex align-items-center">
                  <i class="bx bx-circle nav-icon mr-2"></i>
                  <p>Term</p>
                </a>
              </li>
            {% endif %}
            {% endif %}
            
            {% if user|has_perm:'gradebookcomponent.view_termgradebookcomponents' %}
              {% if not user.is_superuser and not user.is_staff %}
                {% if user.profile.role.name|lower != 'registrar' %}
                  <li class="nav-item">
                    <a href="{% url 'termBookList' %}" class="nav-link d-flex align-items-center">
                      <i class="bx bx-circle nav-icon mr-2"></i>
                      <p>Term Percentage</p>
                    </a>
                  </li>
                {% endif %}
              {% endif %}
            {% endif %}


            {% if user|has_perm:'accounts.view_profile' %}
              {% if user.profile.role.name|lower == 'admin' or user.profile.role.name|lower == 'registrar' or user.is_superuser or user.is_staff %}
                <li class="nav-item">
                  <a href="{% url 'student' %}" class="nav-link d-flex align-items-center">
                    <i class="bx bx-circle nav-icon mr-2"></i>
                    <p>Student List</p>
                  </a>
                </li>
              {% endif %}
            {% endif %}

            {% if user|has_perm:'subject.view_subject' %}
              {% if not user.is_superuser and not user.is_staff %}
                  <li class="nav-item">
                    <a href="{% url 'previousSemestersView' %}" class="nav-link d-flex align-items-center">
                      <i class="bx bx-circle nav-icon mr-2"></i>
                      <p>Previous Semester</p>
                    </a>
                  </li>
              {% endif %}
            {% endif %}


            {% if user|has_perm:'accounts.view_profile' %}
              {% if user.profile.role.name|lower == 'admin' or user.profile.role.name|lower == 'registrar' or user.is_superuser or user.is_staff %}
                <li class="nav-item">
                  <a href="{% url 'staff_list' %}" class="nav-link d-flex align-items-center">
                    <i class="bx bx-circle nav-icon mr-2"></i>
                    <p>User List</p>
                  </a>
                </li>
              {% endif %}
            {% endif %}

            {% endif %}

          </ul>
        </li>
      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>
