{% load static %}
{% load permissions %}

<ul class="navbar-nav sidebar custom-sidebar accordion" id="accordionSidebar">
  <!-- Sidebar - Brand -->
  <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{% url 'dashboard' %}">
    <div class="sidebar-brand-icon">
      <img src="{% static 'images/gsu_logo.png' %}" alt="Classify Logo" style="width: 60px; height: 60px; border-radius: 50%;" />
    </div>
    <div class="sidebar-brand-text mx-2">
      GSU <br /><sup>Excels As One</sup>
    </div>
  </a>
  <!-- Divider -->
  <hr class="sidebar-divider my-0" />
  <!-- Nav Item - Dashboard -->
  <li class="nav-item {% if request.resolver_match.url_name == 'dashboard' %}active{% endif %}">
    <a class="nav-link" href="{% url 'dashboard' %}">
      <i class="bx bx-home-alt"></i>
      <span>Dashboard</span>
    </a>
  </li>
  {% if user|has_perm:'accounts.view_profile' %}
    <li class="nav-item {% if request.resolver_match.url_name == 'viewProfile' %}active{% endif %}">
      <a class="nav-link" href="{% url 'viewProfile' request.user.id %}">
        <i class="bx bx-user"></i>
        <span>{{ request.user.first_name|title }} {{ request.user.last_name|title }}</span>
      </a>
    </li>
  {% endif %}
  <li class="nav-item {% if request.resolver_match.url_name == 'activity_stream' %}active{% endif %}">
    <a class="nav-link" href="{% url 'activity_stream' %}">
      <i class="bx bx-bar-chart-alt-2"></i>
      <span>Activity Stream</span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
      <i class="bx bx-chalkboard"></i>
      <span>Teaching</span>
    </a>

    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        {% if user|has_perm:'course.view_course' %}
          <a class="collapse-item" href="{% url 'SubjectList' %}">
            <i class="bx bx-book"></i>
            <span>Courses</span>
          </a>
        {% endif %}
        <a class="collapse-item" href="{% url 'calendars' %}">
          <i class="bx bx-calendar"></i>
          <span>Calendar</span>
        </a>
        {% if user|has_perm:'message.view_message' %}
          <a class="collapse-item" href="{% url 'inbox' %}">
            <i class="bx bx-envelope"></i>
            <span>Messages</span>
            {% if unread_messages_count > 0 %}
              <sup><span class="badge badge-danger">{{ unread_messages_count }}</span></sup>
            {% endif %}
          </a>
        {% endif %}

        {% if user|has_perm:'gradebookcomponent.view_gradebookcomponents' %}
          <a class="collapse-item" href="{% url 'studentTotalScoreForActivity' %}">
            <i class="bx bx-clipboard"></i>
            <span>Grades</span>
          </a>
        {% endif %}

        {% if user|has_perm:'subject.view_subject' %}
          <a class="collapse-item" href="{% url 'subject' %}">
            <i class="bx bx-book"></i>
            <span>Subject</span>
          </a>
        {% endif %}

        {% if user|has_perm:'subject.view_subject' %}
          <a class="collapse-item" href="{% url 'viewGradeBookComponents' %}">
            <i class="bx bx-book"></i>
            <span>Grade Book</span>
          </a>
        {% endif %}
      </div>
    </div>
  </li>

  {% if user|has_perm:'course.view_subjectenrollment' %}
    <li class="nav-item {% if request.resolver_match.url_name == 'enrollStudent' %}active{% endif %}">
      <a class="nav-link" href="{% url 'enrollStudent' %}">
        <i class="bx bx-user-plus"></i>
        <span>Enroll Student</span>
      </a>
    </li>
  {% endif %}

  <li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
      <i class="bx bx-cog"></i>
      <span>Settings</span>
    </a>

    <div id="collapseOne" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        {% if user|has_perm:'roles.view_role' %}
          <a class="collapse-item" href="{% url 'roleList' %}">
            <i class="bx bx-user-check"></i>
            <span>Role</span>
          </a>
        {% endif %}

        {% if user|has_perm:'course.view_semester' %}
          <a class="collapse-item" href="{% url 'semesterList' %}">
            <i class="bx bx-calendar"></i>
            <span>Semester</span>
          </a>
        {% endif %}

        {% if user|has_perm:'course.view_term' %}
          <a class="collapse-item" href="{% url 'termList' %}">
            <i class="bx bx-calendar-event"></i>
            Term
          </a>
        {% endif %}

        {% if user|has_perm:'course.view_term' %}
          <a class="collapse-item" href="{% url 'termBookList' %}">
            <i class="bx bx-calendar-event"></i>
            Term Grading
          </a>
        {% endif %}
      </div>
    </div>
  </li>
</ul>
