{% extends 'base.html' %}
{% load static %}
{% block title %}
  {{ subject.subject_name }}
{% endblock %}
{% block content %}
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <h1>{{ subject.subject_name }}</h1>
        <p>Learn more about {{ subject.subject_name }}.</p>
      </div>
    </div>

    {% if is_teacher %}
      <div class="row">
        <div class="col-12 mb-3">
          <a href="{% url 'add_activity' subject.id %}" class="btn btn-primary">Add Activity</a>
        </div>
      </div>
    {% endif %}
    <div class="row">
      <!-- Sidebar for Activities -->
      <div class="col-md-3">
        <div class="card mb-3">
          <div class="card-header">Ongoing Activities</div>
          <ul class="list-group list-group-flush">
            {% for activity in ongoing_activities %}
              <li class="list-group-item">
                <a href="{% url 'display_question' activity.id %}">{{ activity.activity_name }}</a>
              </li>
            {% endfor %}
          </ul>
        </div>

        <div class="card mb-3">
          <div class="card-header">Upcoming Activities</div>
          <ul class="list-group list-group-flush">
            {% for activity in upcoming_activities %}
              <li class="list-group-item">{{ activity.activity_name }}</li>
            {% endfor %}
          </ul>
        </div>

        <!-- Activities to be Graded -->
        <div class="card mb-3">
          <div class="card-header">Activities to be Graded</div>
          <ul class="list-group list-group-flush">
            {% if is_teacher %}
              {% for activity, count in activities_with_grading_needed %}
                <li class="list-group-item">
                  <a href="{% url 'grade_essays' activity.id %}">{{ activity.activity_name }} - {{ count }} submissions to grade</a>
                </li>
              {% endfor %}
            {% endif %}
          </ul>
        </div>

        <div class="card mb-3">
          <div class="card-header">Finished Activities</div>
          <ul class="list-group list-group-flush">
            {% for activity in finished_activities|slice:':2' %}
              <li class="list-group-item">
                <a href="{% if is_student %}
                    {% url 'studentActivityView' activity.id %}
                  {% else %}
                    {% url 'teacherActivityView' activity.id %}
                  {% endif %}">
                  {{ activity.activity_name }}
                </a>
              </li>
            {% endfor %}
            {% if finished_activities|length > 2 %}
              <li class="list-group-item">
                <a href="{% url 'subjectFinishedActivities' subject.id %}">View More</a>
              </li>
            {% endif %}
          </ul>
        </div>

        <div class="card mb-3">
          <div class="card-header">Student Roster</div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <a href="{% url 'subjectStudentList' subject.id %}?semester={{ selected_semester.id }}">View List</a>
            </li>
          </ul>
        </div>
      </div>

      <!-- Main Content Area -->
      <div class="col-md-9">
        <div class="card mb-3">
          <div class="card-header d-flex justify-content-between align-items-center">
            <span>Modules</span>
            {% if is_teacher %}
              <div>
                <a href="{% url 'createModule' subject.id %}" class="btn btn-primary ml-auto">Add</a>
                <a href="{% url 'upload' subject.id %}" class="btn btn-primary ml-2">Add PPT</a>
              </div>
            {% endif %}
          </div>
          <ul class="list-group list-group-flush">
            {% for module in modules %}
              <li class="list-group-item">
                <a href="{{ module.file.url }}" target="_blank">{{ module.file_name }}</a>
              </li>
            {% endfor %}
            {% if scorm_packages %}
              {% for scorm in scorm_packages %}
                <li class="list-group-item">
                  <a href="{{ scorm.pptx_link }}&action=embedview" target="_blank">{{ scorm.package_name }}</a>
                </li>
              {% endfor %}
            {% endif %}
          </ul>
        </div>
      </div>
    </div>
    <a href="javascript:history.back()" class="btn btn-secondary">Back</a>
  </div>
{% endblock %}
