{% load static %}
<div id="viewCourseModal" class="custom-modal">
    <div class="custom-modal-header">
        <button class="close-btn" id="closeCourseModalBtn">&times;</button>
        <h5>View Course</h5>
    </div>
    <div class="custom-modal-body">
        <div class="sidebar">
            <h2>Course Faculty</h2>
            <div class="section">
                <h5 id="instructor1"></h5>
                <p>Instructor</p>
                <h5 id="instructor2"></h5>
                <p>Instructor</p>
            </div>
            <div class="section">
                <h4>Details & Actions</h4>
                <a href="#">View everyone in your course</a>
                <a href="#">Progress Tracking</a>
                <a href="#">Edit display settings</a>
                <a href="#">Mark attendance</a>
                <a href="#">View course & institution tools</a>
                <a href="#">Manage banks</a>
            </div>
            <div class="section">
                <button class="btn btn-outline-primary btn-block">Add course schedule</button>
            </div>
        </div>

        <div class="main-content">
            <div class="course-card">
                <h5 id="courseTitle"></h5>
                <p id="courseStatus"></p>
                <p id="courseDescription"></p>
            </div>
            <div class="course-card" id="testDetails">
                <h5>New Test 7/30/24</h5>
                <p>Due date: 7/31/24, 11:59 PM</p>
                <p>Hidden from students</p>
            </div>
            <div class="course-card" id="exemplaryCourse">
                <h5>Exemplary Course Design</h5>
                <p>Visible to students</p>
            </div>
        </div>
    </div>
</div>


