<!-- send_message_modal.html -->
<div id="sendMessageModal" class="custom-modal">
  <div class="custom-modal-header">
    <button class="close-btn" id="closeSendMessageModalBtn"></button>
    <h5>Send Message</h5>
  </div>
  <div class="custom-modal-body">
    <form method="post" action="{% url 'send_message' %}" class="needs-validation" novalidate>
      {% csrf_token %}
      <div class="form-group">
        <label for="subject">Subject:</label>
        <input type="text" id="subject" name="subject" class="form-control" required />
        <div class="invalid-feedback">Please provide a subject.</div>
      </div>
      <div class="form-group">
        <label for="body">Body:</label>
        <textarea id="body" name="body" class="form-control summernote" rows="5" required></textarea>
        <div class="invalid-feedback">Please provide a message body.</div>
      </div>
      <div class="form-group">
        <label for="recipient_type">Recipient Type:</label>
        <select id="recipient_type" name="recipient_type" class="form-control" required>
          <option value="">Select Recipient</option>
          <optgroup label="Subjects">
            {% for subject in subjects %}
              <option value="subject_{{ subject.id }}">{{ subject.subject_name }}</option>
            {% endfor %}
          </optgroup>
          <optgroup label="Teachers">
            {% for instructor in instructors %}
              <option value="teacher_{{ instructor.id }}">{{ instructor.first_name }} {{ instructor.last_name }}</option>
            {% endfor %}
          </optgroup>
          <optgroup label="Students">
            {% for student in students %}
              <option value="student_{{ student.id }}">{{ student.first_name }} {{ student.last_name }}</option>
            {% endfor %}
          </optgroup>
        </select>
        <div class="invalid-feedback">Please select a recipient.</div>
      </div>
      <button type="submit" class="btn btn-primary">Send</button>
    </form>
  </div>
</div>
